
@{
    ViewBag.Title = "Details";
}
<span hidden id="username">@ViewBag.Name</span>
<span hidden id="userId">@ViewBag.Id</span>
<span hidden id="sceneId">3</span>
<span hidden id="characterTurnId"></span>
<span hidden id="playableOrNot"></span>
<span hidden id="gameId">@ViewBag.GameId</span>

<div class="container">
    <div class="row">
        <div class="col-sm12 col-md-6">
            @Html.Partial("_Server")
        </div>

        <div class="col-sm12 col-md-6">
            @Html.Partial("_Dice")
        </div>

        <div class="col-sm12 col-md-6">
            @Html.Partial("_Options")
        </div>

        <div class="col-sm12 col-md-6">
            @Html.Partial("_Chat")
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.2.min.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Content/Javascripts/GameHub.js")
}
